<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <script>
    	// $.post('/api/register',
    	// 		{
    	// 			phone:123456789,
    	// 			password:123456,
    	// 			username:'佩奇'
    	// 		},
    	// 		function (resp){
    	// 			console.log(resp);
    	// 		} )

  //   	$.post('/api/register',
		// 	{
		// 		phone:123456789,
		// 		password:123456,
		// 	},
		// 	function (resp){
		// 		console.log(resp);
		// } )
    </script>
  </body>
</html>
